---
import Link from '../components/Link.astro'
---
<div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full z-10 " >
<div id="navbar" class="flex flex-row justify-between ">
<div id="logo" class="animate-pulse">
<a href="#navbar" class="">
    <img src="src/assets/images/thumbsup.png" alt="tommelop">
</a>
</div>
<nav id="desktopmenu" class="hidden lg:block " >
<ul class="flex flex-row gap-4 ">
<li class=""><Link href="#prøvekapitel" >Prøvekapitel</Link></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
<li class=""><Link href="#kapitler" >Kapitler</Link></li>
<li class=""><Link href="#galleri" >Galleri</Link></li>
<li class=""><Link href="#køb her" >Køb her</Link></li>
</ul>
</nav>
<button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
</div>
<nav id="mobilmenu" class="flex flex-col content-center pt-4 " 
x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
<ul >
    <li class=""><Link href="#prøvekapitel" >Prøvekapitel</Link></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
    <li class=""><Link href="#kapitler" >Kapitler</Link></li>
    <li class=""><Link href="#galleri" >Galleri</Link></li>
    <li class=""><Link href="#køb her" >Køb her</Link></li>
</ul>
</nav>
</div>

